services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 10s
      retries: 5
      start_period: 5s
    restart: always

  airflow-webserver:
    build: .
    image: dw-olist-airflow:2.9.3
    depends_on:
      postgres:
        condition: service_healthy
    env_file: ../.env
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__WEBSERVER__EXPOSE_CONFIG: "true"
    volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
    - ../secrets/aws:/home/airflow/.aws:ro
    - ../secrets/kaggle/access_token:/home/airflow/.kaggle/access_token:ro
    - ../secrets/kaggle/kaggle.json:/home/airflow/.kaggle/kaggle.json:ro
    - ../.env:/opt/airflow/.env:ro

    ports:
      - "${AIRFLOW_WEBSERVER_PORT:-8080}:8080"
    command: webserver
    restart: always

  airflow-scheduler:
    build: .
    image: dw-olist-airflow:2.9.3
    depends_on:
      postgres:
        condition: service_healthy
    env_file: ../.env
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
    - ../secrets/aws:/home/airflow/.aws:ro
    - ../secrets/kaggle/access_token:/home/airflow/.kaggle/access_token:ro
    - ../secrets/kaggle/kaggle.json:/home/airflow/.kaggle/kaggle.json:ro
    - ../.env:/opt/airflow/.env:ro

    command: scheduler
    restart: always

  airflow-init:
    build: .
    image: dw-olist-airflow:2.9.3
    depends_on:
      postgres:
        condition: service_healthy
    env_file: ../.env
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
    entrypoint: /bin/bash
    command:
      - -c
      - |
        airflow db migrate
        airflow users create \
          --username admin \
          --firstname Admin \
          --lastname User \
          --role Admin \
          --email admin@example.com \
          --password admin
    restart: "no"

volumes:
  postgres-db-volume:
